body {
    font-family: Arial, sans-serif;
    text-align: center;
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

h1{
    margin-bottom: 60px;
}